div(hx-swap-oob="afterbegin:#timeline")
  .card.mb-2(id='tweet-' + t.id)
    .card-body
      h5.card-title.text-muted
        | #{t.username}
        small : #{t.time}
      .card-text.lead.mb-2
        | #{t.message}
      button.btn.btn-link(id='retweet-' + t.id, type="button", hx-post="/retweet/" + t.id) Retweet (#{t.retweets})
      button.btn.btn-link(id='like-' + t.id, type="button", hx-post="/like/" + t.id) Like (#{t.likes})
